@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body{
    background-color:white;
    font-family: 'Racing Sans One', cursive;
}
.img-circle{
    width: 500px;
    height: 575px;
    border-radius: 50%;
}
.heading{
    text-align: center;
}
.full-article{
    text-align: center;
}
.tittle{
    background-color: #cfc8c8;
    margin-top: 02px;
    font-size: 25px;
}
.image{
display: block;
padding: 4px;
border: 2.5px solid rgb(128, 128, 128);
border-radius: 4px;
box-shadow: 0 3px 6px darkgray;
}
.container{
margin: 15px;
padding: 21px;
}
.head{
display: block;
padding: 4px;
margin-bottom: 15px;
border: 2px solid rgb(128, 128, 128);
border-radius: 4px;
box-shadow: 0 3px 6px darkgray;
}
.details{
    padding: 5px;
    margin: 25px;
}
